.pri-color {
  color: $primary-color;
}
.sec-color {
  color: $secondary-color;
}
.mb-l {
  margin-bottom: 5rem;
}
.mb-m {
  margin-bottom: 3rem;
}
.mb-s {
  margin-bottom: 1.3rem;
}
.mt-s {
  margin-top: 1rem;
}
