$primary-color: #09f755;
$secondary-color: #797575;
$white: #ffffff;
$black: #000000;

$primary-font: "Calibre-Regular", sans-serif;
$secondary-font: "Calibre-SemiBold", sans-serif;
$tertiary-font: "Calibre-Medium", sans-serif;
